* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #082032;
}

.wrapper {
    display: flex;
}
ul.sidebar {
    background-color: #082032;
    padding-bottom: 40px;
}

ul .sidebar-card {
    background-color: #334756;
    width: 268px;
    height: 300px;
    margin-left: 36px;
    margin-right: 36px;
    border-radius: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul .sidebar-card p {
    font-weight: 500;
    font-size: 24px;
    color: white;
    margin-top: 22px;
}

ul li.nav-item {
    margin-left: 36px;
}

ul li a.nav-link {
    font-weight: 600;
    color: white;
}

ul li a.nav-link span {
    margin-left: 26px;
    font-size: 18px;
}

ul li a.nav-link:hover{
    color: white;
}

ul.sidebar .sidebar-heading {
    margin-left: 36px;
    color: rgb(214, 214, 214);
}

/* content */
.content {
    width: 100%;
    margin: 24px 24px 24px 0;
    background-color: white;
    border-radius: 48px;
}

.content h1 {
    margin-left: 75px;
    margin-top: 40px;
}

.card {
    width: 275px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 35px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 100px 30px 0 20px;
    background-color: #082032;
    background-position: center;
    background-size: cover;
}

.card h5 {
    color: white;
    font-size: 24px;
}

.card .isi {
    display: flex;
    color: white;
    margin-top: 50px;
}

.card .isi h3 {
    font-size: 56px;
    font-weight: 700;
    margin-right: 60px;
}