@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

body::after {
    content: '';
    height: 220px;
    width: 220px;
    position: absolute;
    background: url(img/bg.png) no-repeat;
    top: 0;
}

/* navbar */
nav .logo a {
    font-size: 48px;
    font-weight: 800;
    color: black;
    text-decoration: none;
}

nav .logo a:hover {
    color: black;
}

/* breadcrumb */
.breadcrumb {
    margin-top: 20px;
    margin-left: 128px;
}

.breadcrumb li a {
    font-weight: 300;
    color: black;
    text-decoration: none;
}

.breadcrumb li.active {
    color: #AEAEAE;
}

/* content */
.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .hero img {
    width: 380px;
    border-radius: 8px;
}

.content .data {
    margin-left: 100px;
}

.content .data h4 {
    font-size: 36px;
    font-weight: 600;
}

.content .data p {
    font-size: 22px;
    font-weight: 400;
}

.content .data p.badge {
    font-size: 18px;
}

.content .data h4.fasilitas {
    margin-top: 30px;
}

.content .data h5 {
    font-size: 16px;
}

/* footer */
.copyright {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

@media screen and (max-width: 576px) {
    body::after {
        height: 150px;
        width: 150px;
        background-size: contain;
    }

    /* breadcrumb */
    .breadcrumb {
        margin-left: 38px;
    }

    .content {
        flex-direction: column;
    }
    
    .content .hero img {
        width: 350px;
    }
    
    .content .data {
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .content .data h4 {
        font-size: 24px;
        margin-top: 20px;
    }
    
    .content .data p {
        font-size: 18px;
    }
    
    .content .data p.badge {
        font-size: 16px;
    }
    
    .content .data h4.fasilitas {
        margin-top: 20px;
    }

    /* footer */
    .copyright {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
}