@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

/* navbar */
nav {
    height: 150px;
}

nav .container {
    display: flex;
}

nav .logo a {
    text-decoration: none;
    font-size: 48px;
    font-weight: 800;
    color: #121127;
}

nav ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    right: 0;
    top: 0;
    height: 95vh;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: #FFE4F2; */
    /* background: linear-gradient(180deg, #FFFFFF 9.88%, #FFE4F2 123.14%); */
    background-color: white;
    z-index: 2;
    transform: translateY(-100%);
    transition: all 1s;
    border-bottom: 4px solid #ffb5db;
    border-radius: 0 0 6% 6%;
}

nav ul.slide {
    transform: translateY(0);
    opacity: 1;

}

nav ul li a {
    position: relative;
    text-decoration: none;
    font-size: 34px;
    font-weight: 600;
    color: #121127 !important;
    margin-left: 42px;
}

nav ul li::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #f5f5f5;
    font-size: 144px;
    z-index: -2;
    transform: scale(0);
    transition: .4s;
    line-height: 90vh;
    font-weight: bold;
}

nav ul li:hover::after {
    transform: scale(1);
}

nav ul li a::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 100%;
    left: 0;
    bottom: 10px;
    background-color: #FFE4F2;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
}

nav ul li a:hover::before {
    transform: scaleX(1);
}

/* Hamburger Menu */
.menu-toogle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    z-index: 3;
}

.menu-toogle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #121127;
    transition: all .7s;
}

.menu-toogle span.active {
    background-color: #E54ED0;
}

.menu-toogle span.tiga.active {
    background-color: #E54ED0;
}

.menu-toogle span.dua {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #121127;
    transition: all .7s;
}

.menu-toogle input {
    width: 28px;
    height: 50px;
    position: absolute;
    top: 50px;
    opacity: 0;
    cursor: pointer;
    z-index: 99;
}

/* Hamburger Menu Animation */
.menu-toogle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toogle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toogle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toogle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toogle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}


/* Responsive BreakPoint */
/* Ukuran Mobile */
@media screen and (max-width: 576px) {
    body {
        overflow-y: hidden;
        height: 100vh !important;
    }

    /* navbar */
    nav ul {
        flex-direction: column;
        border-bottom: 6px solid #ffb5db;
        height: 80vh;
    }

    nav ul li a {
        font-size: 28px;
        margin-left: 0;
    }

}